<a href="https://colab.research.google.com/github/imabelaus/DP_Coursework1/blob/master/Dissertation_RAW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from keras.layers.embeddings import Embedding
from keras.preprocessing import sequence

Using TensorFlow backend.

In [0]:
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences
from keras.models import Sequential
from keras import layers
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
import pandas as pd

In [0]:
df = pd.read_csv('/content/Train_x_diss - Sheet3.csv')

In [0]:
df.head()

  Creditas, financial technology company, operates digital platform offers secured consumer loans.  1
0  Nubank issues, administrates, processes, trans...                                                1
1  Movile Brazilian mobile commerce platform drea...                                                1
2  Clip terminal allows businesses easily accept ...                                                0
3  Konfio online lending platform small business ...                                                1
4  Alternative Online Lending, FinTech, online cr...                                                1

In [0]:
df.describe()

                1
count  198.000000
mean     0.429293
std      0.496230
min      0.000000
25%      0.000000
50%      0.000000
75%      1.000000
max      1.000000

In [0]:
df.columns = ["text","label"]

In [0]:
x = df['text'].values

In [0]:
y = df['label'].values

In [0]:
x_train, x_test, y_train, y_test = \
 train_test_split(x, y, test_size=0.15, random_state=12)

tokenizer = Tokenizer(num_words=300)
tokenizer.fit_on_texts(x)
xtrain= tokenizer.texts_to_sequences(x_train)
xtest= tokenizer.texts_to_sequences(x_test)

In [0]:
vocab_size=len(tokenizer.word_index)+1

maxlen=7
xtrain=pad_sequences(xtrain,padding='post', maxlen=maxlen)
xtest=pad_sequences(xtest,padding='post', maxlen=maxlen)

In [0]:
print(x_train[1])
print(xtrain[1])

largest study platform Brazil more than 18 million users mission connecting students knowledge.
[ 26 112 188  34 182 207 208]

In [0]:
embedding_dim=100
model=Sequential()
model.add(layers.Embedding(input_dim=vocab_size,
         output_dim=embedding_dim,
         input_length=maxlen))
model.add(layers.LSTM(units=50,return_sequences=True))
model.add(layers.LSTM(units=10))
model.add(layers.Dropout(0.50))
model.add(layers.Dense(8))
model.add(layers.Dense(1, activation="sigmoid"))
model.compile(optimizer="adam", loss="binary_crossentropy", 
     metrics=['accuracy'])
model.summary()

WARNING: Logging before flag parsing goes to stderr.
W0805 15:39:39.885039 139996011464576 deprecation_wrapper.py:119] From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:74: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

W0805 15:39:39.939232 139996011464576 deprecation_wrapper.py:119] From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:517: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

W0805 15:39:39.948113 139996011464576 deprecation_wrapper.py:119] From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:4138: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

W0805 15:39:40.440931 139996011464576 deprecation_wrapper.py:119] From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:133: The name tf.placeholder_with_default is deprecated. Please use tf.compat.v1.placeholder_with_default instead.

W0805 15:39:40.453174 139996011464576 deprecation.py:506] From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:3445: calling dropout (from tensorflow.python.ops.nn_ops) with keep_prob is deprecated and will be removed in a future version.
Instructions for updating:
Please use `rate` instead of `keep_prob`. Rate should be set to `rate = 1 - keep_prob`.
W0805 15:39:40.519669 139996011464576 deprecation_wrapper.py:119] From /usr/local/lib/python3.6/dist-packages/keras/optimizers.py:790: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

W0805 15:39:40.549780 139996011464576 deprecation_wrapper.py:119] From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:3376: The name tf.log is deprecated. Please use tf.math.log instead.

W0805 15:39:40.558280 139996011464576 deprecation.py:323] From /usr/local/lib/python3.6/dist-packages/tensorflow/python/ops/nn_impl.py:180: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_1 (Embedding)      (None, 7, 100)            102500
_________________________________________________________________
lstm_1 (LSTM)                (None, 7, 50)             30200
_________________________________________________________________
lstm_2 (LSTM)                (None, 10)                2440
_________________________________________________________________
dropout_1 (Dropout)          (None, 10)                0
_________________________________________________________________
dense_1 (Dense)              (None, 8)                 88
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 9
=================================================================
Total params: 135,237
Trainable params: 135,237
Non-trainable params: 0
_________________________________________________________________

In [0]:
model.fit(xtrain,y_train, epochs=20, batch_size=50, verbose=False)

In [0]:
loss, acc = model.evaluate(xtrain, y_train, verbose=False)
print("Training Accuracy: ", acc.round(4))
loss, acc = model.evaluate(xtest, y_test, verbose=False)
print("Test Accuracy: ", acc.round(4))

Training Accuracy:  1.0
Test Accuracy:  0.6333

https://www.datatechnotes.com/2019/06/text-classification-example-with-keras.html

In [0]:
import tensorflow as tf