<a href="https://colab.research.google.com/github/imabelaus/Miscelanious/blob/master/Top20pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 20 Highly used functions in Python's Pandas!

1. Download packages

In [0]:
import pandas as pd
import numpy as np

2. Download a CSV file

In [0]:
df = pd.read_csv("/content/try - Sheet1.csv")

3. Display table

In [3]:
df

    Y        X1        X2        X3        X4
0   1  0.716347  0.063565  0.977043  0.178429
1   1  0.932094  0.539502  0.752759  0.606651
2   0  0.110050  0.150955  0.103875  0.796365
3   0  0.580651  0.503657  0.195465  0.671641
4   0  0.512752  0.626403  0.687458  0.294036
5   0  0.089408  0.255870  0.783725  0.397538
6   1  0.525372  0.395297  0.535168  0.074279
7   1  0.920111  0.541020  0.007593  0.082287
8   1  0.859581  0.357554  0.800343  0.945113
9   1  0.364579  0.961758  0.789386  0.221178
10  0  0.124286  0.262778  0.512493  0.934918
11  0  0.950713  0.996832  0.314328  0.182351
12  0  0.043069  0.194549  0.225729  0.350417
13  1  0.960627  0.823424  0.564145  0.222452
14  1  0.168521  0.259133  0.411147  0.481448
15  0  0.642934  0.056786  0.448122  0.768208
16  1  0.300489  0.216866  0.112701  0.503303
17  0  0.951214  0.770457  0.676175  0.139730
18  1  0.065269  0.044519  0.636096  0.377423
19  1  0.890700  0.410336  0.768448  0.141294
20  1  0.362795  0.666903  0.290232  0.801219
21  0  0.805210  0.465898  0.845987  0.195403
22  1  0.638819  0.346017  0.450734  0.507819
23  0  0.186351  0.011836  0.097006  0.945907
24  1  0.189154  0.465998  0.465090  0.466503
25  0  0.837044  0.483397  0.063285  0.505949
26  0  0.952977  0.702173  0.168939  0.784613
27  0  0.471375  0.298713  0.141223  0.776540
28  0  0.502249  0.812483  0.033029  0.361729
29  1  0.082832  0.191395  0.942094  0.511525
.. ..       ...       ...       ...       ...
68  1  0.908340  0.936113  0.490734  0.429673
69  0  0.305166  0.414830  0.165017  0.866705
70  1  0.671433  0.278335  0.876350  0.881777
71  0  0.193482  0.419262  0.696510  0.017492
72  0  0.229213  0.604989  0.233900  0.821661
73  0  0.316796  0.631253  0.449703  0.819090
74  0  0.447100  0.275679  0.250876  0.795584
75  0  0.348029  0.002791  0.790339  0.719238
76  0  0.182298  0.470716  0.261104  0.050908
77  1  0.369737  0.894653  0.983840  0.028699
78  0  0.211014  0.233332  0.756269  0.750634
79  0  0.611794  0.982060  0.758012  0.525102
80  0  0.484595  0.079588  0.785933  0.010509
81  1  0.340249  0.065911  0.232746  0.123508
82  1  0.171623  0.164251  0.015562  0.559485
83  1  0.979401  0.402866  0.611271  0.039457
84  1  0.192976  0.240917  0.462117  0.074309
85  0  0.799121  0.417584  0.277456  0.120299
86  1  0.206916  0.904670  0.176720  0.489031
87  1  0.749452  0.910377  0.193721  0.270573
88  1  0.251212  0.855552  0.393935  0.830205
89  1  0.274517  0.123562  0.744074  0.147227
90  1  0.499339  0.171130  0.917195  0.378572
91  0  0.187766  0.279809  0.416813  0.550450
92  0  0.837786  0.826434  0.759904  0.207992
93  1  0.940601  0.455747  0.971409  0.185912
94  1  0.221497  0.949555  0.311749  0.402423
95  0  0.866395  0.904122  0.984126  0.724174
96  1  0.014483  0.551180  0.549747  0.501723
97  1  0.231952  0.187777  0.916884  0.333070

[98 rows x 5 columns]

In [5]:
df.head(6)

   Y        X1        X2        X3        X4
0  1  0.716347  0.063565  0.977043  0.178429
1  1  0.932094  0.539502  0.752759  0.606651
2  0  0.110050  0.150955  0.103875  0.796365
3  0  0.580651  0.503657  0.195465  0.671641
4  0  0.512752  0.626403  0.687458  0.294036
5  0  0.089408  0.255870  0.783725  0.397538

4. Show summary stats

5. How many columns and rows does my table have?

In [6]:
df.shape

(98, 5)

6. Type of variables

In [7]:
df.dtypes

Y       int64
X1    float64
X2    float64
X3    float64
X4    float64
dtype: object

8. How many unique values does each column have?

In [47]:
len(df['Y'].unique())

2

In [48]:
len(df['X1'].unique())

98

In [49]:
len(df['X2'].unique())

98

In [50]:
len(df['X3'].unique())

98

In [51]:
len(df['X4'].unique())

98

7. How many null values does my dataset have

In [9]:
df.isnull().sum()

Y     0
X1    0
X2    0
X3    0
X4    0
dtype: int64

8. Sort column by ascending number

In [52]:
df.sort_values("X1", ascending=False).head()

    Y        X1        X2        X3        X4        X5
59  0  0.992426  0.228562  0.734570  0.782130  1.516700
83  1  0.979401  0.402866  0.611271  0.039457  0.650728
67  1  0.970048  0.711411  0.048929  0.069089  0.118018
13  1  0.960627  0.823424  0.564145  0.222452  0.786597
26  0  0.952977  0.702173  0.168939  0.784613  0.953551

9. Extract one column

In [17]:
df['X2'].head()

0    0.063565
1    0.539502
2    0.150955
3    0.503657
4    0.626403
Name: X2, dtype: float64

10. Create a new column

In [0]:
df["X5"] = df["X4"]+df["X3"]

In [19]:
df.head()

   Y        X1        X2        X3        X4        X5
0  1  0.716347  0.063565  0.977043  0.178429  1.155472
1  1  0.932094  0.539502  0.752759  0.606651  1.359410
2  0  0.110050  0.150955  0.103875  0.796365  0.900240
3  0  0.580651  0.503657  0.195465  0.671641  0.867106
4  0  0.512752  0.626403  0.687458  0.294036  0.981494

11. Create a subtable with existing one.

In [0]:
df_new = df.loc[:49,:]

In [24]:
df_new.head()

   Y        X1        X2        X3        X4        X5
0  1  0.716347  0.063565  0.977043  0.178429  1.155472
1  1  0.932094  0.539502  0.752759  0.606651  1.359410
2  0  0.110050  0.150955  0.103875  0.796365  0.900240
3  0  0.580651  0.503657  0.195465  0.671641  0.867106
4  0  0.512752  0.626403  0.687458  0.294036  0.981494

In [25]:
df_new.shape

(50, 6)

12. Rename columns

In [26]:
df.columns

Index(['Y', 'X1', 'X2', 'X3', 'X4', 'X5'], dtype='object')

In [0]:
df_2 = df_new.rename(columns = {'Y':'A', 'X1':'B', 'X2':'C', 'X3':'D', 'X4':'E', 'X5':'F'})

In [29]:
df_2.head()

   A         B         C         D         E         F
0  1  0.716347  0.063565  0.977043  0.178429  1.155472
1  1  0.932094  0.539502  0.752759  0.606651  1.359410
2  0  0.110050  0.150955  0.103875  0.796365  0.900240
3  0  0.580651  0.503657  0.195465  0.671641  0.867106
4  0  0.512752  0.626403  0.687458  0.294036  0.981494

13. Change order of columns

In [31]:
df_2.columns

Index(['A', 'B', 'C', 'D', 'E', 'F'], dtype='object')

In [33]:
columnsTitles = ['B', 'C', 'D','F', 'E']
df_2.reindex(columns=columnsTitles).head()

          B         C         D         F         E
0  0.716347  0.063565  0.977043  1.155472  0.178429
1  0.932094  0.539502  0.752759  1.359410  0.606651
2  0.110050  0.150955  0.103875  0.900240  0.796365
3  0.580651  0.503657  0.195465  0.867106  0.671641
4  0.512752  0.626403  0.687458  0.981494  0.294036

15. Drop columns

In [58]:
df_2.drop("D", axis = 1).head()

   A         B         C         E         F
0  1  0.716347  0.063565  0.178429  1.155472
1  1  0.932094  0.539502  0.606651  1.359410
2  0  0.110050  0.150955  0.796365  0.900240
3  0  0.580651  0.503657  0.671641  0.867106
4  0  0.512752  0.626403  0.294036  0.981494

16. Make a new column

In [60]:
df_2['new column'] = df_2['A']+df_2['C']
df_2.head()

   A         B         C         D         E         F  new column
0  1  0.716347  0.063565  0.977043  0.178429  1.155472    1.063565
1  1  0.932094  0.539502  0.752759  0.606651  1.359410    1.539502
2  0  0.110050  0.150955  0.103875  0.796365  0.900240    0.150955
3  0  0.580651  0.503657  0.195465  0.671641  0.867106    0.503657
4  0  0.512752  0.626403  0.687458  0.294036  0.981494    0.626403

17. Make a new dataset with a condition

In [0]:
df_3 = df_2[df_2.A == 0]

In [70]:
df_3.head()

    A         B         C         D         E         F  new column
2   0  0.110050  0.150955  0.103875  0.796365  0.900240    0.150955
3   0  0.580651  0.503657  0.195465  0.671641  0.867106    0.503657
4   0  0.512752  0.626403  0.687458  0.294036  0.981494    0.626403
5   0  0.089408  0.255870  0.783725  0.397538  1.181263    0.255870
10  0  0.124286  0.262778  0.512493  0.934918  1.447411    0.262778

18. Transpose table

In [71]:
df_3.T

                  2         3         4   ...        44        45        49
A           0.000000  0.000000  0.000000  ...  0.000000  0.000000  0.000000
B           0.110050  0.580651  0.512752  ...  0.041735  0.015714  0.109509
C           0.150955  0.503657  0.626403  ...  0.715358  0.020033  0.503879
D           0.103875  0.195465  0.687458  ...  0.207168  0.107409  0.238276
E           0.796365  0.671641  0.294036  ...  0.701256  0.314200  0.258847
F           0.900240  0.867106  0.981494  ...  0.908425  0.421609  0.497123
new column  0.150955  0.503657  0.626403  ...  0.715358  0.020033  0.503879

[7 rows x 24 columns]

In [72]:
df.shape

(98, 6)

19. Make a copy of a dataset.

In [74]:
df_4 = df_3.copy()
df_4.head()

    A         B         C         D         E         F  new column
2   0  0.110050  0.150955  0.103875  0.796365  0.900240    0.150955
3   0  0.580651  0.503657  0.195465  0.671641  0.867106    0.503657
4   0  0.512752  0.626403  0.687458  0.294036  0.981494    0.626403
5   0  0.089408  0.255870  0.783725  0.397538  1.181263    0.255870
10  0  0.124286  0.262778  0.512493  0.934918  1.447411    0.262778

20. Download to csv.

In [0]:
df_4.to_csv('success.csv')